#my_name {
        text-align: center;
        font-family: Arial;
}

#links {
        text-align: center;
        float: left;
        width: 100px;
}

div {
        display: block;
        text-align: center;
}

.container {
        margin: auto;
        max-width: 700px;
}

.nav_bar {
        float: left;
        margin-left: 215px;
}

ul {
        list-style: none;
        text-align: center;
        width: 700px;
}

li {
        list-style: none;
        float: left;
        padding: 10px;
}