#my_name {
        text-align: center;
        font-family: Arial;
}

img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
}

#links {
        text-align: center;
}