body {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#my_name {
        text-align: center;
}

img {
        height: 480px;
        width: 360px;
}

div {
        text-align: center;
}

p {
        text-align: justify;
}

.container {
        margin: auto;
        max-width: 700px;
}

.nav_bar {
        padding-left: 0px;
}

.courses, .exp {
        text-align: left;
        padding-left: 158px;
}

.link {
        list-style: none;
        padding: 10px;
        display: inline-block;
}

.contact {
        list-style: none;
}

.footnotes {
        padding-left: 0px;
}

a {
        text-decoration: none;
}

a:link {
        color: blue;
}

a:visited {
        color: #551A8B;
}

a:hover {
        text-decoration: underline;
        color: red;
}

a:active {
        color: black;
}