#my_name {
        text-align: center;
        font-family: Arial;
}

#links {
        text-align: center;
        float: left;
        width: 100px;
}

div {
        display: block;
        text-align: center;
}

.container {
        margin: auto;
        max-width: 700px;
}

.nav_bar {
        float: left;
        margin-left: 215px;
        width: 700px;
        list-style: none;
}

.courses, .exp {
        text-align: left;
        padding-left: 158px;
}

.link {
        list-style: none;
        float: left;
        padding: 10px;
}